In [81]:
import pandas as pd
data = pd.read_csv('datasets/suicide-blasts-dataset.csv')

In [71]:
data.head(10)

,S#,Date,Year,Islamic Date,Blast Day Type,Holiday Type,Time,City,Latitude,Longitude,...,Targeted Sect if any,Killed Min,Killed Max,Injured Min,Injured Max,No. of Suicide Blasts,Explosive Weight (max),Hospital Names,Temperature(C),Temperature(F)
0,1,Sunday-November 19-1995,1995,25 Jumaada al-THaany 1416 A.H,Holiday,Weekend,NaN,Islamabad,33.7180,73.0718,...,NaN,14.0,15.0,NaN,60,2.0,NaN,NaN,15.835,60.503
1,2,Monday-November 6-2000,2000,10 SHa`baan 1421 A.H,Working Day,NaN,NaN,Karachi,24.9918,66.9911,...,NaN,NaN,3.0,NaN,3,1.0,NaN,NaN,23.770,74.786
2,3,Wednesday-May 8-2002,2002,25 safar 1423 A.H,Working Day,NaN,7:45 AM,Karachi,24.9918,66.9911,...,Christian,13.0,15.0,20.0,40,1.0,2.5 Kg,1.Jinnah Postgraduate Medical Center 2. Civil ...,31.460,88.628
3,4,Friday-June 14-2002,2002,3 Raby` al-THaany 1423 A.H,Working Day,NaN,11:10:00 AM,Karachi,24.9918,66.9911,...,Christian,NaN,12.0,NaN,51,1.0,NaN,NaN,31.430,88.574
4,5,Friday-July 4-2003,2003,4 Jumaada al-awal 1424 A.H,Working Day,NaN,NaN,Quetta,30.2095,67.0182,...,Shiite,44.0,47.0,NaN,65,1.0,NaN,1.CMH Quetta\n2.Civil Hospital 3. Boland Medic...,33.120,91.616
5,6,Thursday-December 25-2003,2003,2 Thw al-Qi`dah 1424 A.H.,Holiday,Christmas/birthday of Quaid-e-Azam,1:40:00 PM/1:42:00 PM,Rawalpindi,33.6058,73.0437,...,NaN,16.0,18.0,NaN,50,2.0,30kg in each car,1.District headquarters \nHospital,9.445,49.001
6,7,Saturday-February 28-2004,2004,8 MuHarram 1425 A.H,Working Day,NaN,NaN,Rawalpindi,33.6058,73.0437,...,shiite,NaN,1.0,3.0,4,1.0,NaN,NaN,15.275,59.495
7,8,Friday-May 7-2004,2004,18 Raby` al-awal 1425 A.H,Working Day,NaN,1:20:00/1:17:00 PM,Karachi,24.9918,66.9911,...,shiite,14.0,15.0,96.0,200,1.0,2kg,Civil hospital,33.860,92.948
8,9,Monday-May 31-2004,2004,NaN,Working Day,NaN,evening,Karachi,24.9918,66.9911,...,Shiite,16.0,18.0,NaN,35,1.0,NaN,Civil hospital-Liaquat National hospital-Jinna...,31.605,88.889
9,10,Thursday-June 3-2004,2004,15 Raby` al-THaany 1425 A.H,Working Day,NaN,NaN,North waziristan,32.9746,70.1456,...,NaN,NaN,2.0,NaN,2,1.0,NaN,NaN,27.180,80.924

# PREPROCESSING OF DATA

In [72]:
data['Date'] = pd.to_datetime(data['Date'] ,errors = 'coerce')

In [73]:
data['Killed Min'] = pd.to_numeric(data['Killed Min'],errors = 'coerce').fillna(0)
data['Killed Max'] = pd.to_numeric(data['Killed Max'],errors = 'coerce').fillna(0)
data['Injured Min'] = pd.to_numeric(data['Injured Min'],errors = 'coerce').fillna(0)
data['Injured Max'] = pd.to_numeric(data['Injured Max'],errors = 'coerce').fillna(0)

In [74]:
missing = data.isna().sum()
missing

S#                           0
Date                        44
Year                         0
Islamic Date               154
Blast Day Type              10
Holiday Type               424
Time                       211
City                         0
Latitude                     3
Longitude                    3
Province                     0
Location                     3
Location Category           36
Location Sensitivity        36
Open/Closed Space           35
Influencing Event/Event    305
Target Type                 26
Targeted Sect if any       399
Killed Min                   0
Killed Max                   0
Injured Min                  0
Injured Max                  0
No. of Suicide Blasts       82
Explosive Weight (max)     324
Hospital Names             199
Temperature(C)               5
Temperature(F)               7
dtype: int64

In [75]:

for col in ['Latitude', 'Location','Hospital Names']:
    if col in data.columns:
        data[col] = data[col].astype(str).str.strip()
for col in ['Influencing Event/Event', 'Longitude']:
    if col in data.columns:
        data[col] = data[col].astype(str).str.strip()

In [76]:
for col in data.select_dtypes(include='object').columns:
    data[col].fillna(data[col].mode()[0], inplace=True)
    
for col in data.select_dtypes(include='number').columns:
    data[col].fillna(0, inplace=True)
int_cols = ['Killed Min', 'Killed Max', 'Injured Min', 'Injured Max', 'No. of Suicide Blasts']
for col in int_cols:
    if col in data.columns:
        data[col] = data[col].astype(int)

C:\Users\dell\AppData\Local\Temp\ipykernel_6080\3310539217.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\dell\AppData\Local\Temp\ipykernel_6080\3310539217.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(0, inplace=True)

In [77]:
columns_to_drop = ['Temperature(F)', 'Temperature(C)','Explosive Weight (max)','Islamic Date','Time']
data.drop(columns=[col for col in columns_to_drop if col in data.columns], inplace=True)

In [78]:
missing = data.isna().sum()
missing

S#                          0
Date                       44
Year                        0
Blast Day Type              0
Holiday Type                0
City                        0
Latitude                    0
Longitude                   0
Province                    0
Location                    0
Location Category           0
Location Sensitivity        0
Open/Closed Space           0
Influencing Event/Event     0
Target Type                 0
Targeted Sect if any        0
Killed Min                  0
Killed Max                  0
Injured Min                 0
Injured Max                 0
No. of Suicide Blasts       0
Hospital Names              0
dtype: int64

In [79]:
data.to_csv('suicide-blasts-dataset-cleaned.csv', index = False)